<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ethermorgan.onedaycp.mapper.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ethermorgan.onedaycp.model.UserInfo" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="OpenID" property="openid" jdbcType="VARCHAR" />
    <result column="NickName" property="nickname" jdbcType="VARCHAR" />
    <result column="Sex" property="sex" jdbcType="SMALLINT" />
    <result column="Birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="WechatID" property="wechatid" jdbcType="VARCHAR" />
    <result column="University" property="university" jdbcType="VARCHAR" />
    <result column="Major" property="major" jdbcType="VARCHAR" />
    <result column="UserStatus" property="userstatus" jdbcType="SMALLINT" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, OpenID, NickName, Sex, Birthday, WechatID, University, Major, UserStatus, CreateTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ethermorgan.onedaycp.model.UserInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from user_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_info
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_info
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ethermorgan.onedaycp.model.UserInfoExample" >
    delete from user_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ethermorgan.onedaycp.model.UserInfo" >
    insert into user_info (ID, OpenID, NickName, 
      Sex, Birthday, WechatID, 
      University, Major, UserStatus, 
      CreateTime)
    values (#{id,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{sex,jdbcType=SMALLINT}, #{birthday,jdbcType=TIMESTAMP}, #{wechatid,jdbcType=VARCHAR}, 
      #{university,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, #{userstatus,jdbcType=SMALLINT}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ethermorgan.onedaycp.model.UserInfo" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="openid != null" >
        OpenID,
      </if>
      <if test="nickname != null" >
        NickName,
      </if>
      <if test="sex != null" >
        Sex,
      </if>
      <if test="birthday != null" >
        Birthday,
      </if>
      <if test="wechatid != null" >
        WechatID,
      </if>
      <if test="university != null" >
        University,
      </if>
      <if test="major != null" >
        Major,
      </if>
      <if test="userstatus != null" >
        UserStatus,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=SMALLINT},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="wechatid != null" >
        #{wechatid,jdbcType=VARCHAR},
      </if>
      <if test="university != null" >
        #{university,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="userstatus != null" >
        #{userstatus,jdbcType=SMALLINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ethermorgan.onedaycp.model.UserInfoExample" resultType="java.lang.Integer" >
    select count(*) from user_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_info
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.openid != null" >
        OpenID = #{record.openid,jdbcType=VARCHAR},
      </if>
      <if test="record.nickname != null" >
        NickName = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        Sex = #{record.sex,jdbcType=SMALLINT},
      </if>
      <if test="record.birthday != null" >
        Birthday = #{record.birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.wechatid != null" >
        WechatID = #{record.wechatid,jdbcType=VARCHAR},
      </if>
      <if test="record.university != null" >
        University = #{record.university,jdbcType=VARCHAR},
      </if>
      <if test="record.major != null" >
        Major = #{record.major,jdbcType=VARCHAR},
      </if>
      <if test="record.userstatus != null" >
        UserStatus = #{record.userstatus,jdbcType=SMALLINT},
      </if>
      <if test="record.createtime != null" >
        CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_info
    set ID = #{record.id,jdbcType=VARCHAR},
      OpenID = #{record.openid,jdbcType=VARCHAR},
      NickName = #{record.nickname,jdbcType=VARCHAR},
      Sex = #{record.sex,jdbcType=SMALLINT},
      Birthday = #{record.birthday,jdbcType=TIMESTAMP},
      WechatID = #{record.wechatid,jdbcType=VARCHAR},
      University = #{record.university,jdbcType=VARCHAR},
      Major = #{record.major,jdbcType=VARCHAR},
      UserStatus = #{record.userstatus,jdbcType=SMALLINT},
      CreateTime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ethermorgan.onedaycp.model.UserInfo" >
    update user_info
    <set >
      <if test="openid != null" >
        OpenID = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        NickName = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        Sex = #{sex,jdbcType=SMALLINT},
      </if>
      <if test="birthday != null" >
        Birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="wechatid != null" >
        WechatID = #{wechatid,jdbcType=VARCHAR},
      </if>
      <if test="university != null" >
        University = #{university,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        Major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="userstatus != null" >
        UserStatus = #{userstatus,jdbcType=SMALLINT},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ethermorgan.onedaycp.model.UserInfo" >
    update user_info
    set OpenID = #{openid,jdbcType=VARCHAR},
      NickName = #{nickname,jdbcType=VARCHAR},
      Sex = #{sex,jdbcType=SMALLINT},
      Birthday = #{birthday,jdbcType=TIMESTAMP},
      WechatID = #{wechatid,jdbcType=VARCHAR},
      University = #{university,jdbcType=VARCHAR},
      Major = #{major,jdbcType=VARCHAR},
      UserStatus = #{userstatus,jdbcType=SMALLINT},
      CreateTime = #{createtime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>